@font-face {
    font-family: 'SanFranciscoPro';
    src: url('../fonts/SFProDisplay-Regular.html') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
}

body {
    font-family: 'SanFranciscoPro', sans-serif;
}